.edit-form
 {
   width: 500px;
   height: 480px;
   background: lightgray ;
   margin-left: auto;
   margin-right: auto;
   border-radius: 10px;
 }
 .form-container {
  width: 200px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
 }

