<form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="edit-form">
  <div class="form-container">
    <mat-form-field class="example-full-width">
      <input
        type="text"
        matInput
        formControlName="name"
        placeholder="Name"
        required
      />
    </mat-form-field>
    <div *ngIf="submitted">
      <span *ngIf="editForm.get('name').errors">
        Name is <strong>required</strong>
      </span>
    </div>
  </div>
  <br />
  <div class="form-container">
    <mat-form-field class="example-full-width">
      <input
        type="text"
        matInput
        formControlName="surename"
        placeholder="Surename"
        required
      />
    </mat-form-field>
    <div *ngIf="submitted">
      <span *ngIf="editForm.get('name').errors">
        Name is <strong>required</strong>
      </span>
    </div>
  </div>
  <br />
  <div class="form-container">
    <mat-form-field class="example-full-width">
      <input
        type="number"
        matInput
        formControlName="age"
        placeholder="Age"
        minlength="3"
        maxlength="5"
        required
      />
    </mat-form-field>
    <div *ngIf="submitted" class="text-danger">
      <span *ngIf="!editForm.get('age').dirty"
        >age is <strong>required</strong></span
      >
      <!-- <span *ngIf="!editForm.get('age').dirty && editForm.get('age').hasError('minlength')"
        >age <strong>too short</strong></span
      > -->
      <!-- <span *ngIf="!editForm.get('age').hasError('maxlength')"
        >age <strong>too long</strong></span
      > -->
    </div>
  </div>
  <br />
  <div class="form-container">
    <mat-form-field class="example-full-width">
      <input
        type="text"
        matInput
        formControlName="bezeichnung"
        placeholder="Bezeichnung"
        required
      />
    </mat-form-field>
    <div *ngIf="submitted">
      <span *ngIf="editForm.get('bezeichnung').errors">
        Name is <strong>required</strong>
      </span>
    </div>
  </div>
  <br />
  <div class="form-container" style="margin-left: 200px">
    <button mat-raised-button type="submit" color="primary">save</button>
  </div>
</form>


