<!-- <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="edit-form">
  <div class="form-container">
    <mat-form-field class="example-full-width">
      <input
        type="text"
        matInput
        formControlName="name"
        placeholder="Name"
        required
      />
      <div *ngIf="name.dirty || name.touched">
        <mat-error *ngIf="name.hasError('required')">
              Email is <strong>required</strong>
          </mat-error>
      </div>
    </mat-form-field>
    <br />

    <mat-form-field class="example-full-width">
      <input
        type="text"
        matInput
        formControlName="surename"
        placeholder="Surename"
        required
      /> </mat-form-field
    ><br />

    <mat-form-field class="example-full-width">
      <input
        type="number"
        matInput
        formControlName="age"
        placeholder="Age"
        required
      /> </mat-form-field
    ><br />

    <mat-form-field class="example-full-width">
      <input
        type="text"
        matInput
        formControlName="bezeichnung"
        placeholder="Bezeichnung"
        required
      /> </mat-form-field
    ><br />

    <button mat-raised-button type="submit" color="primary">save</button>
  </div>
</form> -->

<div class="form">
  <form [formGroup]="editForm" (keyup.enter)="onSubmit()">
    <mat-form-field class="full-width" appearance="outline">
      <!-- <mat-label>{{ 'authentication.username' | translate }}</mat-label> -->
      <input
        required
        matInput
        #name
        type="text"
        formControlName="name"
        placeholder="Name"
        (keydown.enter)="onSubmit()"
      />
      <mat-error *ngIf="name.touched && name.errors">
        validation.required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <!-- <mat-label>{{ 'authentication.password' | translate }}</mat-label> -->
      <input
        required
        matInput
        #surename
        type="text"
        formControlName="surename"
        placeholder="Surename"
        (keydown.enter)="onSubmit()"
      /><mat-error *ngIf="surename.touched && surename.errors">
        validation.required
      </mat-error>
    </mat-form-field>

    <div class="form-group">
      <button
        class="full-width"
        type="submit"
        (click)="onSubmit()"
        mat-stroked-button
        color="primary"
      >
        EDIT
      </button>
    </div>
  </form>
</div>

<!-- <form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" [formControl]="emailFormControl">
    <mat-error *ngIf="emailFormControl.hasError('name') && !nomlFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form> -->


