<div class="myContent" fxLayout="row" fxLayout="row wrap" fxLayout.xs="row">
  <mat-divider style="margin-top: 20px; margin-bottom: 20px"></mat-divider>

  <form
    [formGroup]="userForm"
    class="inputForm"
    (ngSubmit)="onSubmit()"
    fxLayout="row"
    fxLayout="row wrap"
    fxLayout.xs="row"
  >
    <div class="mat-form-group">
      <div>
        <mat-form-field class="example-full-width">
          <input
            matInput
            type="text"
            #name
            formControlName="name"
            placeholder="name"
            required
          />
        </mat-form-field>
        <div
          *ngIf="submitted==true && userForm.get('name').errors"
          class="text-danger"
        >
          <span> Name is <strong>required</strong></span>
        </div>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <input
            matInput
            type="text"
            matInput
            #surename
            formControlName="surename"
            placeholder="Surename"
            required
          />
        </mat-form-field>
        <div
          *ngIf="submitted==true && userForm.get('surename').errors"
          class="text-danger"
        >
          <span> Surename is <strong>required</strong> </span>
        </div>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <input
            matInput
            type="number"
            matInput
            #age
            formControlName="age"
            placeholder="Age"
            max="29"
            min="9"
            required
          />
        </mat-form-field>
        <div *ngIf="submitted==true" class="text-danger">
          <span *ngIf="userForm.get('age').errors"
            >age is <strong>required</strong></span
          >
          <!-- <span
            *ngIf="
              (userForm.get('age').value.length > 3) ||
              (userForm.get('age').value.length < 2)
            "
            >age <strong>length not allow</strong></span
          > -->
        </div>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <input
            matInput
            type="text"
            matInput
            #bezeichnung
            formControlName="bezeichnung"
            placeholder="what are you ?"
            required
          />
        </mat-form-field>
        <div
          *ngIf="submitted==true && userForm.get('bezeichnung').errors"
          class="text-danger"
        >
          <span> Bezeichnung is <strong>required</strong> </span>
        </div>
      </div>
      <div>
        <button mat-raised-button color="primary" type="submit">
          Create User
        </button>
      </div>
    </div>
  </form>
</div>
<div class="row1" style="margin-top: 25px;">
  <div
    fxLayout="row"
    fxLayout="row wrap"
    fxLayoutGap="0.5%"
    fxLayoutAlign="center"
  >
    <mat-card class="card" style="width: 18rem;" *ngFor="let user of users">
      <mat-card-header>
        <mat-card-title> {{ user.name }}</mat-card-title>
        <mat-card-subtitle class="card-subtitle mb-2 text-muted">
          {{ user.surename }} ( {{ user.age }} )
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content
        ><p>{{ user.bezeichnung }}</p>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>

      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          (click)="
            editUser(user)
          "
        >
          EDIT
        </button>
        <button mat-raised-button color="warn" (click)="openDialog(user.id)">
          DELETE
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<!-- <mat-divider style="margin-top: 20px; margin-bottom: 20px"></mat-divider> -->

<!-- <mat-card class="example-card" *ngFor="let user of users">
  <mat-card-header
    style="margin-left: auto; margin-right: auto; text-align: center; width: 150px"
  >
    <mat-card-title>{{ user.name }}</mat-card-title>
    <mat-card-subtitle>{{ user.surename }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">EDIT</button>
    <button mat-raised-button color="warn" (click)='delete(user.id)'>DELETE</button>
  </mat-card-actions>
</mat-card> -->
