.myContent {
}

#customers {
  /* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
  border-collapse: collapse;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}
.row1 {
  //  display: flex;
  // width: 100px;
  // margin-left: auto;
  // margin-right: auto;
  // margin-left: 5px;
  // margin-right: 5px;
  display: flex;
  // display: -webkit-box;
  // display: -moz-box;
  display: -ms-flexbox;
  // display: -webkit-flex;
  // align-items: center;
  // justify-content: center;
}
// .col-md-3{
//   margin-left: 5px;
//   margin-right: 5px;
// }
.card {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 1), 0 1px 1px 0 rgba(0, 0, 0, 1),
    0 1px 3px 0 rgba(0, 0, 0, 1);
}
.example-card {
  max-width: 400px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 1), 0 1px 1px 0 rgba(0, 0, 0, 1),
    0 1px 3px 0 rgba(0, 0, 0, 1);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

// .example-container {
//   display: flex;
//   flex-direction: column;
// }

// .example-container > * {
//   width: 100%;
// }
.inputForm{
  margin-left: 50px;
}
.example-full-width{
  margin-left: 5px;
  margin-right: 5px;
}
.mat-form-group{
  display: flex;
}
.text-danger{
  text-align: center;
  width: 130px;
  height: 40px;
  background: pink;
  border-radius: 10px;

}
